<header>
  <div class="container">
    <div id="js-question" class="mt-3 alert alert-success" role="alert">
      <div class="d-flex justify-content-start">
        <a class="mr-3" href="/index">TOP</a>
        <a class="mr-3" href="/quiz">クイズ一覧</a>
        <a href="/answer">クイズ</a>
      </div>
    </div>
  </div>
</header>
